<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          员工名单
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <ul class="list-group">
         <li class="list-group-item"><a href="/main.html">全部员工名单列表</a></li>
      </ul>
      <div class="panel-footer">以上名单仅供展示</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          部门人员管理
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <ul class="list-group">
        <li class="list-group-item"><a href="/">所有员工</a></li>
        <li class="list-group-item"><a href="/GMO">总经办</a></li>
        <li class="list-group-item"><a href="Shangwubu">商务部</a></li>
        <li class="list-group-item"><a href="jishu">技术部</a></li>
        <li class="list-group-item"><a href="renshi">人事部</a></li>
        <li class="list-group-item"><a href="caiwu">财务部</a></li>
      </ul>
      <div class="panel-footer">请谨慎</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <ul class="list-group">
      <li class="list-group-item"></li>
        <li class="list-group-item"></li>
        <li class="list-group-item"></li>
      </ul>
      <div class="panel-footer">Footer</div>
    </div>
  </div>
</div>