	* {
		padding:0;
		margin:0;
	}
	form{
		max-width: 800px;
		margin: 40px auto;
		padding: 10px 20px;
		position: relative;
	}
	p{
		font: 12px "";
		color: #fc0;
	}
	span{
		color: red;
	}
	
	div.row {
		margin-bottom: 18px;
	}
	label{
		color: #ccc;
		font: 12px "";
		margin: 0 50px 0 30px;
	}
	input {
		border-radius: 5px;
		outline: none;
		border: 0;
		background: #999;
		position: relative;
		top: -4px;
	}
	
	i{
		display: inline-block;
		width: 60px;
		height;22px;
		background: #fff;
		text-align: center;
		color: #fff;
	}
	i.active{
		background: #090;
	}
	#login{
		width: 300px;
		margin: 0 auto;
	}
	#btn{
		width: 100px;
		height: 38px;
		color: #fff;
		border: 1px solid #999;
		background: #2c67b5;
		margin-left: 60px;
	}
	#checkout{
		width: 15px;
		height: 15px;
		border: 1px solid #999;	
		margin-left: 20px;			
	}
	#check{
		font: 12px "";
		color: #fff;
		margin: 0;
		position: relative;
		top: -8px;
		left: 2px;
		border-radius: 2px;
	}
	b{
		color: red;
	}
	#alert{
		position: absolute;
		top: 16px;
		left: 240px;
		padding: 6px 10px;
		background: #fa5;
		border-radius: 6px;
		display: none;
	}
